<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SenderClient</servlet-name>
        <servlet-class>org.foi.hr.ebxml.servlet.SenderClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutputServlet</servlet-name>
        <servlet-class>org.foi.hr.ebxml.servlet.OutputServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SenderClient</servlet-name>
        <url-pattern>/SenderClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutputServlet</servlet-name>
        <url-pattern>/OutputServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
